/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #49761A;
  text-decoration: underline;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
body {
  color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 54px rgba(0,0,0,.2);
          box-shadow: inset 0 0 54px rgba(0,0,0,.2);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  text-align: center;
}

.logo{
  width: 140px;
  height: 140px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  text-decoration: none;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #888;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Footer
 */

.footer {
  padding: 20px;
  text-align: center;
  font-weight: 300;
}

.footer .glyphicon {
  color: #B4B4B5
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {

  }

  .footer a{
    vertical-align: text-bottom;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .footer,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .footer,
  .cover-container {
    width: 700px;
  }
}